.team-headshot {
    border-radius: 50%;
    max-width: 10rem;
}
body {
    background-color: rgb(243, 244, 246);
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#team-holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#feature-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member-info {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar {
    background-color: white;
    padding: 2rem;
}

.team-name {
    padding: 0;
    margin: 1rem;
}

.linkedin {
    text-decoration: none;
}

#aegis-logo {
    max-width: 3rem;
}

.feature {
    width: 80vw;
    background-color: rgb(173, 173, 173);
    margin: 1rem 0 1rem 0;
    padding: 0.1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
}

