@font-face {
    font-family: figtree;
    src: url(/public/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: rgb(243, 244, 246);
    padding: 0;
    margin: 0;
    font-family: figtree, sans-serif;
    font-size: large;
}

.team-headshot {
    border-radius: 50%;
    max-width: 10rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0 8vw 0 8vw;
    border-radius: 1em;
}

#team-holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.team-member-info {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar {
    display: flex;
    background-color: white;
    padding: 0 0 0 10vw;
    box-sizing: border-box;
    align-items: center;
}

.team-name {
    padding: 0;
    margin: 1rem;
}

.linkedin {
    text-decoration: none;
}

#aegis-logo {
    width: 4rem;
}

.feature {
    width: 80vw;
    background-color: rgb(173, 173, 173);
    margin: 1rem 0 1rem 0;
    padding: 0.1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
}

